.title {
  font-size: 20px;
  font-weight: bold;
}

.card {
  border: 2px solid rgb(129, 129, 129);
  border-radius: 10px;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  margin-bottom: 3rem;
  padding: 10px;
  transition: border 0.1s ;
}

.card:hover {
  border: 2px solid rgb(72, 184, 236);
}

.article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.img {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: auto;
  height: auto;
}
